<template>
  <div class="comment-management">
    <h2>Comment Management</h2>

    <!-- New Comment Form -->
    <section class="new-comment-section">
      <h3>Add a Comment</h3>
      <form @submit.prevent="submitComment">
        <div class="form-group">
          <label for="factory-select">Factory:</label>
          <select v-model="newComment.factoryId" id="factory-select" required>
            <option v-for="factory in factories" :key="factory.factoryId" :value="factory.factoryId">
              {{ factory.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment-text">Your Comment:</label>
          <input type="text" v-model="newComment.comment" id="comment-text" placeholder="Enter comment" required>
        </div>
        <div class="form-group">
          <label for="rating">Rating (1-5):</label>
          <input type="number" v-model.number="newComment.rating" id="rating" min="1" max="5" required>
        </div>
        <button type="submit">Submit Comment</button>
      </form>
    </section>

    <!-- Comments Table -->
    <section class="comments-section">
      <h3>Existing Comments</h3>
      <table>
        <thead>
          <tr>
            <th>Comment Text</th>
            <th>Rating</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="comment in comments" :key="comment.commentId">
            <td>{{ comment.comment }}</td>
            <td>{{ comment.rating }}</td>
            <td>{{ comment.commentStatus }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';

const comments = ref([]);
const factories = ref([]);
const newComment = ref({
  factoryId: '',
  comment: '',
  rating: null,
  commentStatus: 'PENDING'
});

onMounted(() => {
  loadComments();
  loadFactories();
});

const loadComments = () => {
  axios.get('http://localhost:8080/WebShopAppREST/rest/comments/findCommentsByUserId?userId=1')
    .then(response => {
      comments.value = response.data;
    })
    .catch(error => {
      console.error('Error fetching comments:', error);
    });
};

const loadFactories = () => {
  axios.get('http://localhost:8080/WebShopAppREST/rest/factories/getAllFactories')
    .then(response => {
      factories.value = response.data;
    })
    .catch(error => {
      console.error('Error fetching factories:', error);
    });
};

const submitComment = () => {
  const commentData = {
    ...newComment.value,
    commentId: String(Date.now()),
    userId: 1 
  };

  axios.post('http://localhost:8080/WebShopAppREST/rest/comments/addComment', commentData)
    .then(response => {
      comments.value.push(response.data);
      // Clear form inputs
      newComment.value.comment = '';
      newComment.value.rating = null;
      newComment.value.factoryId = '';
    })
    .catch(error => {
      console.error('Error adding comment:', error);
    });
};
</script>

<style scoped>
.comment-management {
  padding: 15px;
  background-color: #f9f9f9;
}

form {
  margin: 20px 0;
}

.form-group {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}
</style>
