<template>
  <div class="search-container">
    <form @submit.prevent="searchFactories" class="search-form">
      <div class="input-group">
        <label for="searchName">Factory Name:</label>
        <input type="text" id="searchName" v-model="searchCriteria.name" placeholder="Enter factory name">
      </div>
      <div class="input-group">
        <label for="searchChocolateName">Chocolate Name:</label>
        <input type="text" id="searchChocolateName" v-model="searchCriteria.chocolateName" placeholder="Enter chocolate name">
      </div>
      <div class="input-group">
        <label for="searchLocation">Location (City or State):</label>
        <input type="text" id="searchLocation" v-model="searchCriteria.location" placeholder="Enter location">
      </div>
      <div class="input-group">
        <label for="searchRating">Average Rating:</label>
        <input type="number" id="searchRating" v-model.number="searchCriteria.rating" min="0" max="5" step="0.1" placeholder="Min rating">
      </div>
      <div class="input-group sort-group">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" v-model="searchCriteria.sortBy">
          <option value="name">Factory Name</option>
          <option value="location">Location</option>
          <option value="rating">Average Rating</option>
        </select>
        <select id="sortOrder" v-model="searchCriteria.sortOrder">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
    </form>

    <table class="factory-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Location</th>
          <th>Logo</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="f in filteredFactories" :key="f.factoryId">
          <td>{{ f.name }}</td>
          <td>{{ f.status }}</td>
          <td>{{ f.factoryLocation ? `${f.factoryLocation.city}, ${f.factoryLocation.street}, ${f.factoryLocation.number}` : 'Loading...' }}</td>
          <td><img :src="f.logo" alt="Factory Logo" class="factory-logo"></td>
          <td>{{ f.rating }}</td>
          <td>
            <router-link :to="{ name: 'factoryDetails', params: { factoryId: f.factoryId } }" class="select-btn">
              Select
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import axios from 'axios';
import { onMounted, ref, computed } from 'vue';

const factories = ref([]);
const originalFactories = ref([]);
const searchCriteria = ref({
  name: '',
  chocolateName: '',
  location: '',
  rating: null,
  sortBy: 'name',
  sortOrder: 'asc'
});

onMounted(() => {
  loadFactories();
});

function loadFactories() {
  axios.get("http://localhost:8080/WebShopAppREST/rest/factories/getAllFactories")
    .then(response => {
      if (response.data == null) {
        alert("No factories found");
      } else {
        factories.value = response.data;
        originalFactories.value = response.data;
        fillLocationInFactories();
      }
    });
}

function fillLocationInFactories() {
  factories.value.forEach(factory => {
    let locationId = factory.locationId;

    axios.get(`http://localhost:8080/WebShopAppREST/rest/locations/getLocationById?locationId=${locationId}`)
      .then(response => {
        if (response.data == null) {
          alert("No location data found");
        } else {
          factory.factoryLocation = response.data;
        }
      })
      .catch(error => {
        console.error(`Error fetching location for factory ID ${factory.locationId}:`, error);
      });

      axios.get(`http://localhost:8080/WebShopAppREST/rest/chocolates/getChocolatesByFactory/${factory.factoryId}`)
      .then(response => {
        if (response.data == null) {
          alert("No chocolates found");
        } else {
          factory.chocolates = response.data;
        }
      })
      .catch(error => {
        console.error(`Error fetching chocolates for factory ID ${factory.factoryId}:`, error);
      });

  });
}

const filteredFactories = computed(() => {
  let filtered = originalFactories.value.filter(factory => {
    const matchesName = searchCriteria.value.name ? factory.name.toLowerCase().includes(searchCriteria.value.name.toLowerCase()) : true;
    const matchesChocolateName = searchCriteria.value.chocolateName ? factory.chocolates.some(choco => choco.name.toLowerCase().includes(searchCriteria.value.chocolateName.toLowerCase())) : true;
    const matchesLocation = searchCriteria.value.location ? (factory.factoryLocation.city.toLowerCase().includes(searchCriteria.value.location.toLowerCase()) || factory.factoryLocation.street.toLowerCase().includes(searchCriteria.value.location.toLowerCase())) : true;
    const matchesRating = searchCriteria.value.rating !== null ? factory.rating >= searchCriteria.value.rating : true;

    return matchesName && matchesChocolateName && matchesLocation && matchesRating;
  });

  if (searchCriteria.value.sortBy) {
    filtered.sort((a, b) => {
      let aValue, bValue;

      switch (searchCriteria.value.sortBy) {
        case 'name':
          aValue = a.name.toLowerCase();
          bValue = b.name.toLowerCase();
          break;
        case 'location':
          aValue = a.factoryLocation ? a.factoryLocation.city.toLowerCase() : '';
          bValue = b.factoryLocation ? b.factoryLocation.city.toLowerCase() : '';
          break;
        case 'rating':
          aValue = a.rating;
          bValue = b.rating;
          break;
        default:
          aValue = a.name.toLowerCase();
          bValue = b.name.toLowerCase();
      }

      if (aValue < bValue) return searchCriteria.value.sortOrder === 'asc' ? -1 : 1;
      if (aValue > bValue) return searchCriteria.value.sortOrder === 'asc' ? 1 : -1;
      return 0;
    });
  }

  return filtered;
});

function searchFactories() {
  // No need to call loadFactories, we are filtering in the frontend
}

function selectFactory(factory) {
  router.push({ name: 'factoryDetails', params: { factoryId: factory.factoryId } });
}
</script>

<style scoped>
.search-container {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px auto;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  flex: 1;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f7d7d7;
  font-weight: bold;
}

.factory-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.select-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.select-btn:hover {
  background-color: #218838;
}
</style>
