<template>
  <div class="purchase-container">
    <h1>Purchase History</h1>
    <form @submit.prevent="searchPurchases" class="search-form">
      <div class="form-group">
        <label for="searchFactoryName">Factory Name:</label>
        <input type="text" id="searchFactoryName" v-model="searchCriteria.factoryName" placeholder="Search by factory name">
      </div>
      <div class="form-group">
        <label for="searchPrice">Price:</label>
        <input type="number" id="searchPrice" v-model.number="searchCriteria.price" min="0" step="0.01" placeholder="Enter price">
      </div>
      <div class="form-group">
        <label for="searchDate">Date & Time:</label>
        <input type="datetime-local" id="searchDate" v-model="searchCriteria.dateAndTime">
      </div>
      <div class="form-group sort-options">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" v-model="searchCriteria.sortBy">
          <option value="price">Price</option>
          <option value="dateAndTime">Date & Time</option>
          <option value="factoryName">Factory Name</option>
        </select>
        <select id="sortOrder" v-model="searchCriteria.sortOrder">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <button type="submit" class="search-btn">Search</button>
    </form>
    <table class="purchase-table">
      <thead>
        <tr>
          <th>Purchase ID</th>
          <th>Factory Name</th>
          <th>Date & Time</th>
          <th>Price</th>
          <th>Customer Username</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="purchase in filteredPurchases" :key="purchase.purchaseId">
          <td>{{ purchase.purchaseId }}</td>
          <td>{{ getFactoryName(purchase.factoryBoughtFromId) }}</td>
          <td>{{ new Date(purchase.dateAndTimeOfPurchase).toLocaleString() }}</td>
          <td>{{ purchase.price }}</td>
          <td>{{ getUserName(purchase.customerId) }}</td>
          <td>{{ purchase.status }}</td>
          <td>
            <button v-if="purchase.status === 'PROCESSING'" @click="cancelPurchase(purchase.purchaseId)" class="cancel-btn">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import axios from 'axios';
import { ref, onMounted, computed } from 'vue';

const purchases = ref([]);
const factories = ref({});
const users = ref({});
const searchCriteria = ref({
  factoryName: '',
  price: null,
  dateAndTime: '',
  sortBy: 'price',
  sortOrder: 'asc'
});

onMounted(() => {
  loadPurchases();
});

function loadPurchases() {
  axios.get('http://localhost:8080/WebShopAppREST/rest/purchases/findPurchasesByCustomerId?customerId=1')
    .then(response => {
      if (response.data) {
        purchases.value = response.data;
        fetchFactoryAndUserDetails();
      } else {
        alert('No purchases found');
      }
    })
    .catch(error => {
      console.error('Error fetching purchases:', error);
    });
}

function fetchFactoryAndUserDetails() {
  const factoryIds = [...new Set(purchases.value.map(p => p.factoryBoughtFromId))];
  const userIds = [...new Set(purchases.value.map(p => p.customerId))];

  factoryIds.forEach(factoryId => {
    axios.get(`http://localhost:8080/WebShopAppREST/rest/factories/getFactoryById?factoryId=${factoryId}`)
      .then(response => {
        if (response.data) {
          factories.value[factoryId] = response.data.name;
        } else {
          factories.value[factoryId] = 'Unknown Factory';
        }
      })
      .catch(error => {
        console.error(`Error fetching factory details for ID ${factoryId}:`, error);
        factories.value[factoryId] = 'Unknown Factory';
      });
  });

  userIds.forEach(userId => {
    axios.get(`http://localhost:8080/WebShopAppREST/rest/users/getUserById?userId=${userId}`)
      .then(response => {
        if (response.data) {
          users.value[userId] = response.data.username;
        } else {
          users.value[userId] = 'Unknown User';
        }
      })
      .catch(error => {
        console.error(`Error fetching user details for ID ${userId}:`, error);
        users.value[userId] = 'Unknown User';
      });
  });
}

function getFactoryName(factoryId) {
  return factories.value[factoryId] || 'Loading...';
}

function getUserName(userId) {
  return users.value[userId] || 'Loading...';
}

const filteredPurchases = computed(() => {
  let filtered = purchases.value.filter(purchase => {
    const matchesFactoryName = searchCriteria.value.factoryName
      ? getFactoryName(purchase.factoryBoughtFromId).toLowerCase().includes(searchCriteria.value.factoryName.toLowerCase())
      : true;

    const matchesPrice = searchCriteria.value.price !== null && searchCriteria.value.price !== ''
      ? purchase.price === parseFloat(searchCriteria.value.price)
      : true;

    const matchesDate = searchCriteria.value.dateAndTime
      ? new Date(purchase.dateAndTimeOfPurchase).toISOString().startsWith(searchCriteria.value.dateAndTime)
      : true;

    return matchesFactoryName && matchesPrice && matchesDate;
  });

  if (searchCriteria.value.sortBy) {
    filtered.sort((a, b) => {
      let aValue, bValue;

      switch (searchCriteria.value.sortBy) {
        case 'price':
          aValue = a.price;
          bValue = b.price;
          break;
        case 'dateAndTime':
          aValue = new Date(a.dateAndTimeOfPurchase);
          bValue = new Date(b.dateAndTimeOfPurchase);
          break;
        case 'factoryName':
          aValue = getFactoryName(a.factoryBoughtFromId)?.toLowerCase() || 'unknown';
          bValue = getFactoryName(b.factoryBoughtFromId)?.toLowerCase() || 'unknown';
          break;
        default:
          aValue = new Date(a.dateAndTimeOfPurchase);
          bValue = new Date(b.dateAndTimeOfPurchase);
      }

      if (aValue < bValue) return searchCriteria.value.sortOrder === 'asc' ? -1 : 1;
      if (aValue > bValue) return searchCriteria.value.sortOrder === 'asc' ? 1 : -1;
      return 0;
    });
  }

  return filtered;
});

function cancelPurchase(purchaseId) {
  const purchaseToUpdate = purchases.value.find(p => p.purchaseId === purchaseId);
  if (!purchaseToUpdate) {
    console.error(`Purchase with ID ${purchaseId} not found.`);
    return;
  }

  purchaseToUpdate.status = 'CANCELED';

  axios.put(`http://localhost:8080/WebShopAppREST/rest/purchases/updatePurchase/${purchaseId}`, purchaseToUpdate)
    .then(response => {
      console.log(`Purchase ${purchaseId} canceled successfully:`, response.data);
    })
    .catch(error => {
      console.error(`Error canceling purchase ${purchaseId}:`, error);
    });

    fetchUserDetails(1);
}

const fetchUserDetails = async (customerId) => {
  try {
    const userResponse = await axios.get(`http://localhost:8080/WebShopAppREST/rest/users/getUserById?userId=1`);
    const user = userResponse.data;


    const updatedUser = {
      ...user,
      pointsCollected: (user.pointsCollected || 0) - 20
    };

    const updateResponse = await axios.put(`http://localhost:8080/WebShopAppREST/rest/users/updateUser/1`, updatedUser);

    console.log("User points updated successfully:", updateResponse.data);
  } catch (error) {
    console.error("Error fetching user details or updating points:", error);
    alert('Error updating user points');
  }
};

</script>

<style scoped>
.purchase-container {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group select,
button.search-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  color: #333;
  width
