<template>
  <div class="container">
    <div class="left-panel">
      <div class="header">
        <div class="factory-details">
          <h1>{{ factory.name }}</h1>
          <p>Opens at: {{ factory.opensAt }}</p>
          <p>Closes at: {{ factory.closesAt }}</p>
          <p>Rating: {{ factory.rating }}</p>
          <p>Status: {{ factory.status }}</p>
          <h2>Location</h2>
          <p>Street: {{ location.street }}</p>
          <p>Number: {{ location.number }}</p>
          <p>City: {{ location.city }}</p>
          <p>Postal Number: {{ location.postalNumber }}</p>
          <p>Latitude: {{ location.latitude }}</p>
          <p>Longitude: {{ location.longitude }}</p>
        </div>
        <div class="factory-logo-box">
          <img :src="factory.logo" alt="Factory Logo" class="factory-logo" />
        </div>
      </div>

      <div class="chocolates-list">
        <h2>Chocolates</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Picture</th>
              <th>Type</th>
              <th>Price</th>
              <th>Weight</th>
              <th>Stock</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="chocolate in chocolates" :key="chocolate.chocolateId">
              <td>{{ chocolate.name }}</td>
              <td><img :src="chocolate.picture" alt="Chocolate Picture" class="chocolate-img" /></td>
              <td>{{ chocolate.type }}</td>
              <td>{{ chocolate.price }}</td>
              <td>{{ chocolate.weight }}</td>
              <td>
                <template v-if="isEditing && editingChocolateId === chocolate.chocolateId">
                  <input type="number" v-model="chocolate.numberOfChocolatesInStock" />
                </template>
                <template v-else>
                  {{ chocolate.numberOfChocolatesInStock }}
                </template>
              </td>
              <td>
                <button @click="deleteChocolate(chocolate.chocolateId)">Delete</button>
                <button @click="editChocolate(chocolate)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="right-panel form-area">
      <h2 v-if="isEditing">Edit Chocolate</h2>
      <div v-if="isEditing" class="form-area">
        <form @submit.prevent="updateChocolate()">
          <div class="form-group">
            <label for="numberOfChocolatesInStock">Stock:</label>
            <input type="number" id="numberOfChocolatesInStock" v-model="newChocolate.numberOfChocolatesInStock" />
          </div>
          <div class="button-group">
            <button @click="cancelEdit">Cancel</button>
            <button type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import axios from 'axios';

const route = useRoute();
const factory = ref({});
const location = ref({});
const chocolates = ref([]);
const newChocolate = ref({
  numberOfChocolatesInStock: 0
});
const isEditing = ref(false);
const editingChocolateId = ref(null);

onMounted(() => {
  const factoryId = route.params.factoryId;

  axios.get(`http://localhost:8080/WebShopAppREST/rest/factories/getFactoryById?factoryId=${factoryId}`)
    .then(response => {
      factory.value = response.data;
      return axios.get(`http://localhost:8080/WebShopAppREST/rest/locations/getLocationById?locationId=${factory.value.locationId}`);
    })
    .then(response => {
      location.value = response.data;
      return axios.get(`http://localhost:8080/WebShopAppREST/rest/chocolates/getChocolatesByFactory/${factoryId}`);
    })
    .then(response => {
      chocolates.value = response.data;
    })
    .catch(error => {
      console.error("Error fetching data:", error);
    });
});

function deleteChocolate(chocolateId) {
  if (confirm("Are you sure you want to delete this chocolate?")) {
    axios.delete(`http://localhost:8080/WebShopAppREST/rest/chocolates/deleteChocolate/${chocolateId}`)
      .then(() => {
        chocolates.value = chocolates.value.filter(chocolate => chocolate.chocolateId !== chocolateId);
      })
      .catch(error => {
        console.error("Error deleting the chocolate!", error);
      });
  }
}

function editChocolate(chocolate) {
  isEditing.value = true;
  editingChocolateId.value = chocolate.chocolateId;
  newChocolate.value = { ...chocolate };
}

function updateChocolate() {
  axios.post(`http://localhost:8080/WebShopAppREST/rest/chocolates/updateChocolate/${editingChocolateId.value}`, newChocolate.value)
    .then(response => {
      const index = chocolates.value.findIndex(choc => choc.chocolateId === editingChocolateId.value);
      if (index !== -1) {
        chocolates.value[index] = response.data;
      }
      cancelEdit();
    })
    .catch(error => {
      console.error("Error updating the chocolate!", error);
    });
}

function cancelEdit() {
  isEditing.value = false;
  editingChocolateId.value = null;
  newChocolate.value = { numberOfChocolatesInStock: 0 };
}
</script>

<style scoped>
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-panel {
  flex: 2;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-panel {
  flex: 1;
  background-color: #f0f0f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.factory-details {
  margin-bottom: 20px;
}

.factory-logo-box {
  text-align: center;
}

.factory-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.chocolates-list {
  margin-top: 20px;
}

.chocolate-img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e0f7fa;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

button:hover {
  background-color: #45a049;
}
</style>
