<template>
  <div class="container" style="gap: 10px;">
    <div class="left-div">
      <div class="header">
        <div class="factory-info">
          <h1>{{ factory.name }}</h1>
          <p>Opens at: {{ factory.opensAt }}</p>
          <p>Closes at: {{ factory.closesAt }}</p>
          <p>Rating: {{ factory.rating }}</p>
          <p>Status: {{ factory.status }}</p>
          <h2>Location</h2>
          <p>Street: {{ location.street }}</p>
          <p>Number: {{ location.number }}</p>
          <p>City: {{ location.city }}</p>
          <p>Postal Number: {{ location.postalNumber }}</p>
          <p>Latitude: {{ location.latitude }}</p>
          <p>Longitude: {{ location.longitude }}</p>
        </div>
        <div class="factory-logo-container">
          <img :src="factory.logo" alt="Factory Logo" class="factory-logo" />
        </div>
      </div>
      
      <div class="chocolates-section">
        <h2>Chocolates</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Price</th>
              <th>Weight</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="chocolate in chocolates" :key="chocolate.chocolateId">
              <td>{{ chocolate.name }}</td>
              <td>{{ chocolate.type }}</td>
              <td>{{ chocolate.price }}</td>
              <td>{{ chocolate.weight }}</td>
              <td>
                <button @click="deleteChocolate(chocolate.chocolateId)">Delete</button>
                <button @click="editChocolate(chocolate)">Edit</button>
                <button @click="buyChocolate(chocolate.chocolateId)">Buy</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="comments-section">
        <h2>Comments</h2>
        <table>
          <thead>
            <tr>
              <th>Comment</th>
              <th>Rating</th>
              <th>Comment Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="comment in comments" :key="comment.commentId">
              <td>{{ comment.comment }}</td>
              <td>{{ comment.rating }}</td>
              <td>{{ comment.commentStatus }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    
    <div class="right-div form-section">
      <h2>{{ isEditing ? 'Edit Chocolate' : 'Add New Chocolate' }}</h2>
      <div class="form-container">
        <form @submit.prevent="isEditing ? updateChocolate() : addChocolate()">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" v-model="newChocolate.name" required />
          </div>
          <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" id="type" v-model="newChocolate.type" required />
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" v-model="newChocolate.price" required />
          </div>
          <div class="form-group">
            <label for="kind">Kind:</label>
            <input type="text" id="kind" v-model="newChocolate.kind" required />
          </div>
          <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="number" id="weight" v-model="newChocolate.weight" required />
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" v-model="newChocolate.description" required />
          </div>
          <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" id="image" v-model="newChocolate.picture" required />
          </div>
          <div class="form-group">
            <label for="availability">Availability:</label>
            <select id="availability" v-model="newChocolate.availability" required>
              <option value="NOTAVAILABLE">NOTAVAILABLE</option>
              <option v-if="isEditing" value="AVAILABLE">AVAILABLE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="numberOfChocolatesInStock">Stock:</label>
            <input type="number" id="numberOfChocolatesInStock" v-model="newChocolate.numberOfChocolatesInStock" :disabled="!isEditing" required />
          </div>
          <button type="button" v-if="isEditing" @click="cancelEdit">Cancel</button>
          <button type="submit">{{ isEditing ? 'Update' : 'Submit' }}</button>
        </form>
      </div>
    </div>

    <div class="worker-ids-section">
      <h2>Worker IDs</h2>
      <table>
        <thead>
          <tr>
            <th>Worker ID</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="workerId in factory.listOfWorkerIds" :key="workerId">
            <td>{{ workerId }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="worker-usernames-section">
      <h2>Worker Usernames</h2>
      <table>
        <thead>
          <tr>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="worker in workers" :key="worker.userId">
            <td>{{ worker.username }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="registration-section">
      <h2>Register</h2>
      <form @submit.prevent="register">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" v-model="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" v-model="password" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="email" required>
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" v-model="name" required>
        </div>
        <div class="form-group">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" v-model="surname" required>
        </div>
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" v-model="gender" required>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" v-model="dateOfBirth" required>
        </div>
        <button type="submit">Register</button>
        <p id="success">{{ successMessage }}</p>
        <p id="error">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
</template>
  
<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import axios from 'axios';

const username = ref('');
const password = ref('');
const email = ref('');
const name = ref('');
const surname = ref('');
const gender = ref('');
const role = ref('WORKER');
const customerType = ref('CUSTOMER');
const dateOfBirth = ref('');
const successMessage = ref('');
const errorMessage = ref('');

const route = useRoute();
const factory = ref({});
const location = ref({});
const chocolates = ref([]);
const workers = ref([]);
const newChocolate = ref({
  name: '',
  price: 0,
  kind: '',
  type: '',
  weight: 0.0,
  description: '',
  picture: '',
  availability: 'NOTAVAILABLE',
  numberOfChocolatesInStock: 0
});
const isEditing = ref(false);
const editingChocolateId = ref(null);
const comments = ref([]);

onMounted(() => {
  const factoryId = route.params.factoryId;

  axios.get(`http://localhost:8080/WebShopAppREST/rest/factories/getFactoryById?factoryId=${factoryId}`)
    .then(response => {
      factory.value = response.data;
      if (!factory.value.locationId) throw new Error('Location ID not found in factory data');

      return axios.get(`http://localhost:
