<template>
  <div>
    <h1>{{ isRegisterMode ? 'Register' : 'Login' }}</h1>
    <form class="login-component" @submit.prevent="isRegisterMode ? register() : login()">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" required>
      </div>

      <!-- Additional fields for registration -->
      <div v-if="isRegisterMode">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="email" required>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" v-model="confirmPassword" required>
        </div>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" v-model="name" required>
        </div>
        <div>
          <label for="surname">Surname:</label>
          <input type="text" id="surname" v-model="surname" required>
        </div>
        <div>
          <label for="gender">Gender:</label>
          <select id="gender" v-model="gender" required>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </div>
        <div>
          <label for="customerType">Customer Type:</label>
          <select id="customerType" v-model="customerType" required>
            <option value="CUSTOMER">Customer</option>
            <option value="WORKER">Worker</option>
            <option value="MANAGER">Manager</option>
            <option value="ADMINISTRATOR">Administrator</option>
          </select>
        </div>
        <div>
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" v-model="dateOfBirth" required>
        </div>
      </div>

      <button class="submit" type="submit">{{ isRegisterMode ? 'Register' : 'Login' }}</button>

      <br>

      <p id="success">{{ successMessage }}</p>
      <p id="error">{{ errorMessage }}</p>

      <!-- Link to toggle between login and register -->
      <p>
        <a href="#" @click.prevent="toggleMode">
          {{ isRegisterMode ? 'Already have an account? Login' : 'Don\'t have an account? Register' }}
        </a>
      </p>
    </form>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const router = useRouter();
const isRegisterMode = ref(false);
const username = ref('');
const password = ref('');
const email = ref('');
const confirmPassword = ref('');
const name = ref('');
const surname = ref('');
const gender = ref('MALE');
const customerType = ref('CUSTOMER');
const dateOfBirth = ref('');
const successMessage = ref('');
const errorMessage = ref('');

const resetForm = () => {
  username.value = '';
  password.value = '';
  email.value = '';
  confirmPassword.value = '';
  name.value = '';
  surname.value = '';
  gender.value = 'MALE';
  customerType.value = 'CUSTOMER';
  dateOfBirth.value = '';
};

const register = () => {
  if (password.value !== confirmPassword.value) {
    errorMessage.value = 'Passwords do not match.';
    return;
  }

  const newUser = {
    username: username.value,
    password: password.value,
    name: name.value,
    surname: surname.value,
    gender: gender.value,
    customerType: customerType.value,
    dateOfBirth: dateOfBirth.value,
    email: email.value,
    role: customerType.value,
    pointsCollected: 0,
    factoryId: -1,
    basketId: -1
  };

  axios.post('http://localhost:8080/WebShopAppREST/rest/users/newUser', newUser)
    .then(response => {
      if (response.data && response.data.userId) {
        alert("New user registered: " + response.data.username);
        successMessage.value = 'Registration successful! Please log in.';
        errorMessage.value = '';
        isRegisterMode.value = false;
        resetForm();
      } else {
        errorMessage.value = 'Registration failed.';
        successMessage.value = '';
      }
    })
    .catch(error => {
      errorMessage.value = 'There was an error registering the new user!';
      console.error(error);
    });
};

const login = () => {
  const userCredentials = {
    username: username.value,
    password: password.value
  };

  axios.post('http://localhost:8080/WebShopAppREST/rest/users/login', userCredentials)
    .then(response => {
      if (response.data && response.data.username) {
        const userId = response.data.userId;
        alert("Logged in user: " + response.data.role);
        if(response.data.role == "CUSTOMER")
        {
            router.push({ name: 'mainCustomer', params: {userId} });
        }else if(response.data.role == "WORKER")
        {
            router.push({ name: 'mainWorker', params: {userId} });
        }else if(response.data.role == "MANAGER")
        {
            router.push({ name: 'mainManager', params: {userId} });
        }else //za administratora
        {
            router.push({ name: 'mainAdministrator', params: {userId} });
        }
      } else {
        errorMessage.value = 'Incorrect username or password.';
      }
    })
    .catch(error => {
      errorMessage.value = 'There was an error logging in!';
      console.error(error);
    });
};

const toggleMode = () => {
  isRegisterMode.value = !isRegisterMode.value;
  successMessage.value = '';
  errorMessage.value = '';
};
</script>

<style scoped>
.login-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 400px;
}

.login-component label {
  font-weight: bold;
  display: block;
}

.login-component input {
  padding: 0.5rem;
  border: 1px solid #797979;
  border-radius: 0.25rem;
  background-color: #555555;
  color: white;
  display: block;
  width: 100%;
}

.login-component .submit {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login-component .submit:hover {
  background-color: #0056b3;
}

p {
  display: block;
}

a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
</style>
