<template>
  <div class="manager-container">
    <h1>Welcome, Manager</h1>
    <p>You have successfully logged in to the main page.</p>
    <h2>Role: {{ user.role }}</h2>
    <div class="user-info">
      <p><strong>User ID:</strong> {{ userId }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Surname:</strong> {{ user.surname }}</p>
      <p><strong>Gender:</strong> {{ user.gender }}</p>
      <p><strong>Birth Date:</strong> {{ user.dateOfBirth }}</p>
      <p><strong>Managed Factory ID:</strong> {{ user.idOfFactoryIfRoleManager }}</p>
    </div>
    <div class="links">
      <RouterLink to="/allFactories">View All Factories</RouterLink> <br>
      <RouterLink to="/managerPurchases">Manage Purchases</RouterLink> <br>
      <RouterLink to="/manageComments">Manage Comments</RouterLink> <br>
      <router-link 
        v-if="user.idOfFactoryIfRoleManager" 
        :to="{ name: 'factoryDetails', params: { factoryId: user.idOfFactoryIfRoleManager } }"
      >
        Go to Factory Details
      </router-link>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import axios from 'axios';

export default {
  props: {
    userId: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const user = ref({});

    onMounted(() => {
      axios
        .get(`http://localhost:8080/WebShopAppREST/rest/users/getUserById?userId=${props.userId}`)
        .then((response) => {
          user.value = response.data;
        })
        .catch((error) => {
          console.error("Error fetching user details:", error);
        });
    });

    return { user, userId: props.userId };
  }
};
</script>

<style scoped>
.manager-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}

h1 {
  color: #34495e;
  margin-bottom: 15px;
}

h2 {
  color: #2980b9;
}

.user-info p {
  font-size: 16px;
  margin: 5px 0;
}

.links {
  margin-top: 20px;
}

.links a {
  color: #3498db;
  font-weight: bold;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
</style>
