<template>
  <div>
    <h1>Welcome to the Main Page for Customer</h1>
    <p>This is the main page after a successful login.</p>
    <h2>ROLE: {{ user.role }}</h2>
    <p>User ID: {{ userId }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Gender: {{ user.gender }}</p>
    <p>Points: {{ user.pointsCollected }}</p>
    <p>Birth: {{ user.dateOfBirth }}</p>
    <RouterLink to="/allFactories">All factories</RouterLink><br>
    <RouterLink to="/allPurchases">All purchases</RouterLink><br>
    <RouterLink to="/addComments">Add Comments</RouterLink><br>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import axios from 'axios';

export default {
  name: 'main',
  props: {
    userId: {
      type: String, // Adjust the type according to your userId type (String, Number, etc.)
      required: true
    }
  },
  setup(props) {
    const user = ref({});

    onMounted(() => {
      axios
        .get(`http://localhost:8080/WebShopAppREST/rest/users/getUserById?userId=${props.userId}`)
        .then((response) => {
          user.value = response.data;
          alert("proba " + user.value.username); // Fix here: user.username to user.value.username
        })
        .catch((error) => {
          console.error("Error fetching user details:", error);
        });
    });

    return { user, userId: props.userId };
  }
};
</script>

<style scoped>
h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}
</style>
