<template>
  <div>
    <h1>Welcome to the Main Page Worker</h1>
    <p>This is the main page after a successful login.</p>
    <h2>ROLE: {{ user.role }}</h2>
    <p>User ID: {{ userId }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Gender: {{ user.gender }}</p>
    <p>Birth: {{ user.dateOfBirth }}</p>
    <p>AAAAAAAAAAAAAAA</p>
    <p>IME FABRIKE U KOJOJ RADNIK RADI: {{ factory.name }}</p>
    <RouterLink to="/allFactories">All factories</RouterLink><br>
    <router-link v-if="factory.name !== undefined && factory.name !== null"
      :to="{ name: 'factoryDetailsWorker', params: { factoryId: factory.factoryId } }">
      Go to workers Factory
    </router-link>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import axios from 'axios';

export default {
  name: 'main',
  props: {
    userId: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const user = ref({});
    const factory = ref({});

    onMounted(() => {
      // Fetching user details by userId
      axios
        .get(`http://localhost:8080/WebShopAppREST/rest/users/getUserById?userId=${props.userId}`)
        .then((response) => {
          user.value = response.data;

          // Fetching factory details based on workerId
          return axios.get(`http://localhost:8080/WebShopAppREST/rest/factories/getFactoryByWorkerId/${props.userId}`);
        })
        .then((response) => {
          factory.value = response.data;
        })
        .catch((error) => {
          console.error("Error fetching user or factory details:", error);
        });
    });

    return { user, factory, userId: props.userId };
  }
};
</script>

<style scoped>
h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}
</style>
