<template>
  <div class="container">
    <h1>All Purchases</h1>
    <form @submit.prevent="searchPurchases">
      <div>
        <label for="searchName">Factory Name:</label>
        <input type="text" id="searchName" v-model="searchCriteria.factoryName">
      </div>
      <div>
        <label for="searchPrice">Price:</label>
        <input type="number" id="searchPrice" v-model.number="searchCriteria.price" min="0" step="0.01">
      </div>
      <div>
        <label for="searchDate">Date & Time:</label>
        <input type="datetime-local" id="searchDate" v-model="searchCriteria.dateAndTime">
      </div>
      <div>
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" v-model="searchCriteria.sortBy">
          <option value="price">Price</option>
          <option value="dateAndTime">Date & Time</option>
          <option value="factoryName">Factory Name</option>
        </select>
        <select id="sortOrder" v-model="searchCriteria.sortOrder">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <button type="submit">Search</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Purchase ID</th>
          <th>Factory Name</th>
          <th>Date & Time</th>
          <th>Price</th>
          <th>Customer Username</th>
          <th>Status</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="purchase in filteredPurchases" :key="purchase.purchaseId">
          <td>{{ purchase.purchaseId }}</td>
          <td>{{ getFactoryName(purchase.factoryBoughtFromId) }}</td>
          <td>{{ new Date(purchase.dateAndTimeOfPurchase).toLocaleString() }}</td>
          <td>{{ purchase.price }}</td>
          <td>{{ getUserName(purchase.customerId) }}</td>
          <td>{{ purchase.status }}</td>
          <td>
            <button v-if="purchase.status === 'PROCESSING'" @click="acceptPurchase(purchase.purchaseId)">Accept</button>
          </td>
          <td>
            <button v-if="purchase.status === 'PROCESSING'" @click="rejectPurchase(purchase.purchaseId)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import axios from 'axios';
import { ref, onMounted, computed } from 'vue';

const purchases = ref([]);
const factories = ref({});
const users = ref({});
const searchCriteria = ref({
  factoryName: '',
  price: null,
  dateAndTime: '',
  sortBy: 'name',
  sortOrder: 'asc'
});

onMounted(() => {
  loadPurchases();
});

function loadPurchases() {
  axios.get('http://localhost:8080/WebShopAppREST/rest/purchases/findPurchasesByFactoryBoughtFromId?factoryBoughtFromId=1')
    .then(response => {
      if (response.data) {
        purchases.value = response.data;
        fetchFactoryAndUserDetails();
      } else {
        alert('No purchases found');
      }
    })
    .catch(error => {
      console.error('Error fetching purchases:', error);
    });
}

function fetchFactoryAndUserDetails() {
  const factoryIds = [...new Set(purchases.value.map(p => p.factoryBoughtFromId))];
  const userIds = [...new Set(purchases.value.map(p => p.customerId))];

  factoryIds.forEach(factoryId => {
    axios.get(`http://localhost:8080/WebShopAppREST/rest/factories/getFactoryById?factoryId=${factoryId}`)
      .then(response => {
        if (response.data) {
          factories.value[factoryId] = response.data.name;
        } else {
          factories.value[factoryId] = 'Unknown Factory';
        }
      })
      .catch(error => {
        console.error(`Error fetching factory details for ID ${factoryId}:`, error);
        factories.value[factoryId] = 'Unknown Factory';
      });
  });

  userIds.forEach(userId => {
    axios.get(`http://localhost:8080/WebShopAppREST/rest/users/getUserById?userId=${userId}`)
      .then(response => {
        if (response.data) {
          users.value[userId] = response.data.username;
        } else {
          users.value[userId] = 'Unknown User';
        }
      })
      .catch(error => {
        console.error(`Error fetching user details for ID ${userId}:`, error);
        users.value[userId] = 'Unknown User';
      });
  });
}

function getFactoryName(factoryId) {
  return factories.value[factoryId] || 'Loading...';
}

function getUserName(userId) {
  return users.value[userId] || 'Loading...';
}

const filteredPurchases = computed(() => {
  let filtered = purchases.value.filter(purchase => {
    const matchesFactoryName = searchCriteria.value.factoryName
      ? getFactoryName(purchase.factoryBoughtFromId).toLowerCase().includes(searchCriteria.value.factoryName.toLowerCase())
      : true;

    const matchesPrice = searchCriteria.value.price !== null && searchCriteria.value.price !== ''
      ? purchase.price === parseFloat(searchCriteria.value.price)
      : true;

    const matchesDate = searchCriteria.value.dateAndTime
      ? new Date(purchase.dateAndTimeOfPurchase).toISOString().startsWith(searchCriteria.value.dateAndTime)
      : true;

    return matchesFactoryName && matchesPrice && matchesDate;
  });

  if (searchCriteria.value.sortBy) {
    filtered.sort((a, b) => {
      let aValue, bValue;

      switch (searchCriteria.value.sortBy) {
        case 'price':
          aValue = a.price;
          bValue = b.price;
          break;
        case 'dateAndTime':
          aValue = new Date(a.dateAndTimeOfPurchase);
          bValue = new Date(b.dateAndTimeOfPurchase);
          break;
        case 'factoryName':
          aValue = getFactoryName(a.factoryBoughtFromId)?.toLowerCase() || 'unknown';
          bValue = getFactoryName(b.factoryBoughtFromId)?.toLowerCase() || 'unknown';
          break;
        default:
          aValue = new Date(a.dateAndTimeOfPurchase);
          bValue = new Date(b.dateAndTimeOfPurchase);
      }

      if (aValue < bValue) return searchCriteria.value.sortOrder === 'asc' ? -1 : 1;
      if (aValue > bValue) return searchCriteria.value.sortOrder === 'asc' ? 1 : -1;
      return 0;
    });
  }

  return filtered;
});

function rejectPurchase(purchaseId) {
  const purchaseToUpdate = purchases.value.find(p => p.purchaseId === purchaseId);
  if (!purchaseToUpdate) {
    console.error(`Purchase with ID ${purchaseId} not found.`);
    return;
  }

  purchaseToUpdate.status = 'REJECTED';

  axios.put(`http://localhost:8080/WebShopAppREST/rest/purchases/updatePurchase/${purchaseId}`, purchaseToUpdate)
    .then(response => {
      console.log(`Purchase ${purchaseId} rejected successfully:`, response.data);
    })
    .catch(error => {
      console.error(`Error rejecting purchase ${purchaseId}:`, error);
    });
}

function acceptPurchase(purchaseId) {
  const purchaseToUpdate = purchases.value.find(p => p.purchaseId === purchaseId);
  if (!purchaseToUpdate) {
    console.error(`Purchase with ID ${purchaseId} not found.`);
    return;
  }

  purchaseToUpdate.status = 'ACCEPTED';

  axios.put(`http://localhost:8080/WebShopAppREST/rest/purchases/updatePurchase/${purchaseId}`, purchaseToUpdate)
    .then(response => {
      console.log(`Purchase ${purchaseId} accepted successfully:`, response.data);
    })
    .catch(error => {
      console.error(`Error accepting purchase ${purchaseId}:`, error);
    });
}
</script>

<style scoped>
.container {
  background-color: rgb(236, 197, 197);
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
  color: black;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input, form select, button {
  padding: 0.5rem;
  border: 1px solid #797979;
  border-radius: 0.25rem;
  background-color: #555555;
  color: white;
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056
