<template>
  <div class="comments-management">
    <h2>Manage Comments</h2>
    <table class="comments-table">
      <thead>
        <tr>
          <th>Comment</th>
          <th>Rating</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="comment in comments" :key="comment.commentId">
          <td>{{ comment.comment }}</td>
          <td>{{ comment.rating }}</td>
          <td>{{ comment.commentStatus }}</td>
          <td>
            <div v-if="comment.commentStatus === 'PENDING'" class="action-buttons">
              <button @click="updateCommentStatus(comment.commentId, 'ACCEPTED')" class="accept-btn">Accept</button>
              <button @click="updateCommentStatus(comment.commentId, 'REJECTED')" class="reject-btn">Reject</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';

const comments = ref([]);

onMounted(() => {
  axios.get('http://localhost:8080/WebShopAppREST/rest/comments/findCommentsByFactoryId?factoryId=1')
    .then(response => {
      comments.value = response.data;
    })
    .catch(error => {
      console.error('Error fetching comments:', error);
    });
});

const updateCommentStatus = (commentId, status) => {
  const commentToUpdate = comments.value.find(comment => comment.commentId === commentId);
  const updatedComment = { ...commentToUpdate, commentStatus: status };

  axios.put(`http://localhost:8080/WebShopAppREST/rest/comments/updateComment/${commentId}`, updatedComment)
    .then(response => {
      const updatedComment = response.data;
      const index = comments.value.findIndex(comment => comment.commentId === commentId);
      if (index !== -1) {
        comments.value[index] = updatedComment;
      }
    })
    .catch(error => {
      console.error('Error updating comment status:', error);
    });
};
</script>

<style scoped>
.comments-management {
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 15px;
  color: #2c3e50;
}

.comments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.comments-table th, .comments-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.comments-table th {
  background-color: #f0f0f0;
  color: #333;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.accept-btn {
  background-color: #4caf50;
  color: white;
}

.accept-btn:hover {
  background-color: #45a049;
}

.reject-btn {
  background-color: #f44336;
  color: white;
}

.reject-btn:hover {
  background-color: #e53935;
}
</style>
