<template>
  <div>
    <h1>Add New Factory</h1>
    <form class="factory-form" @submit.prevent="saveFactory">
      <!-- Factory Form Fields -->
      <div>
        <label for="name">Factory Name:</label>
        <input type="text" id="name" v-model="name" required />
      </div>
      <div>
        <label for="longitude">Longitude:</label>
        <input type="number" id="longitude" v-model.number="location.longitude" required />
      </div>
      <div>
        <label for="latitude">Latitude:</label>
        <input type="number" id="latitude" v-model.number="location.latitude" required />
      </div>
      <div>
        <label for="street">Street:</label>
        <input type="text" id="street" v-model="location.street" required />
      </div>
      <div>
        <label for="number">Number:</label>
        <input type="text" id="number" v-model="location.number" required />
      </div>
      <div>
        <label for="city">City:</label>
        <input type="text" id="city" v-model="location.city" required />
      </div>
      <div>
        <label for="postalNumber">Postal Number:</label>
        <input type="text" id="postalNumber" v-model="location.postalNumber" required />
      </div>
      <div>
        <label>Working Hours</label>
        <br />
        <label for="workingHoursFrom">From:</label>
        <input type="number" id="workingHoursFrom" v-model="workingHoursFrom" required min="0" max="23" />
        <label for="workingHoursTo">To:</label>
        <input type="number" id="workingHoursTo" v-model="workingHoursTo" required min="0" max="23" />
      </div>
      <div>
        <label for="logo">Logo:</label>
        <input type="text" id="logo" v-model="logo" required />
      </div>
      <div>
        <label for="manager">Manager:</label>
        <select id="manager" v-model="selectedManager" required>
          <option v-for="manager in availableManagers" :key="manager.userId" :value="manager">
            {{ manager.name + ' ' + manager.surname + ' (ID: ' + manager.userId + ')' }}
          </option>
        </select>
        <button type="button" @click="toggleRegisterManagerForm" :disabled="isRegisterManagerVisible">
          Register New Manager
        </button>
      </div>
      <button class="submit" type="submit">Save Factory</button>
      <p id="success">{{ successMessage }}</p>
      <p id="error">{{ errorMessage }}</p>
    </form>

    <div v-if="isRegisterManagerVisible" class="manager-form">
      <h2>Register New Manager</h2>
      <form @submit.prevent="registerNewManager">
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" v-model="newManager.username" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" v-model="newManager.password" required />
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" v-model="newManager.confirmPassword" required />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="newManager.email" required />
        </div>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" v-model="newManager.name" required />
        </div>
        <div>
          <label for="surname">Surname:</label>
          <input type="text" id="surname" v-model="newManager.surname" required />
        </div>
        <div>
          <label for="gender">Gender:</label>
          <select id="gender" v-model="newManager.gender" required>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </div>
        <div>
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" v-model="newManager.dateOfBirth" required />
        </div>
        <button type="submit">Register Manager</button>
        <button type="button" @click="toggleRegisterManagerForm">Cancel</button>
      </form>
      <p id="managerSuccess">{{ managerSuccessMessage }}</p>
      <p id="managerError">{{ managerErrorMessage }}</p>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';

const name = ref('');
const location = ref({
  longitude: 0,
  latitude: 0,
  street: '',
  number: '',
  city: '',
  postalNumber: ''
});
const workingHoursFrom = ref('');
const workingHoursTo = ref('');
const logo = ref('');
const availableManagers = ref([]);
const selectedManager = ref('');
const successMessage = ref('');
const errorMessage = ref('');
const isRegisterManagerVisible = ref(false);
const managerSuccessMessage = ref('');
const managerErrorMessage = ref('');

const newManager = ref({
  username: '',
  password: '',
  confirmPassword: '',
  email: '',
  name: '',
  surname: '',
  gender: 'MALE',
  dateOfBirth: ''
});

// Fetch available managers
axios
  .get('http://localhost:8080/WebShopAppREST/rest/users/availableManagers')
  .then((response) => {
    availableManagers.value = response.data;
  })
  .catch((error) => {
    console.error('Error fetching available managers:', error);
  });

const saveFactory = () => {
  const factoryDetails = {
    name: name.value,
    chocolatesOnOffer: [],
    listOfIdsForChocolates: [],
    opensAt: workingHoursFrom.value,
    closesAt: workingHoursTo.value,
    status: 'CLOSED', // Using the enum value for FactoryStatus
    factoryLocation: {},
    locationId: '3', // Dummy initial value
    logo: logo.value,
    rating: 0
  };

  axios
    .post('http://localhost:8080/WebShopAppREST/rest/locations/newLocationMihailo', location.value)
    .then((response) => {
      factoryDetails.locationId = response.data.locationId;

      // Create factory
      return axios.post('http://localhost:8080/WebShopAppREST/rest/factories/newFactory', factoryDetails);
    })
    .then((response) => {
      const createdFactory = response.data;

      // Assign manager to factory
      return axios.put(`http://localhost:8080/WebShopAppREST/rest/users/addIdOfFactoryToManager/${createdFactory.factoryId}/${selectedManager.value.userId}`);
    })
    .then(() => {
      successMessage.value = 'Factory created and manager assigned successfully!';
      errorMessage.value = '';
      resetForm();
    })
    .catch((error) => {
      errorMessage.value = 'Failed to create factory or assign manager.';
      console.error('Error:', error);
    });
};

const toggleRegisterManagerForm = () => {
  isRegisterManagerVisible.value = !isRegisterManagerVisible.value;
};

const registerNewManager = () => {
  if (newManager.value.password !== newManager.value.confirmPassword) {
    managerErrorMessage.value = 'Passwords do not match.';
    return;
  }

  const managerDetails = {
    ...newManager.value,
    customerType: 'MANAGER',
    role: 'MANAGER',
    pointsCollected: 0,
    factoryId: -1,
    basketId: -1
  };

  axios
    .post('http://localhost:8080/WebShopAppREST/rest/users/newUser', managerDetails)
    .then((response) => {
      if (response.data && response.data.userId) {
        const newManager = response.data;
        availableManagers.value.push(newManager);
        selectedManager.value = newManager;
        managerSuccessMessage.value = `New manager ${newManager.name} registered successfully!`;
        managerErrorMessage.value = '';
        toggleRegisterManagerForm();
      } else {
        managerErrorMessage.value = 'Registration failed.';
      }
    })
    .catch((error) => {
      managerErrorMessage.value = 'Error registering the new manager!';
      console.error(error);
    });
};
</script>

<style scoped>
.factory-form,
.manager-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 400px;
}

label {
  font-weight: bold;
  display: block;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid #797979;
  border-radius: 0.25rem;
  background-color: #555555;
  color: white;
  width: 100%;
}

.submit {
  padding: 0.5rem;
  border: none;
 
