<template>
    <main>
      <MainPage :userId="userId" />
    </main>
  </template>
  
  <script setup>
  import { ref } from 'vue';
  import { useRouter } from 'vue-router';
  
  const router = useRouter();
  const userId = router.currentRoute.value.params.userId;
  </script>
  